# Prerequisites and Object files
*.d
*.o
*.obj

# Debug files
*.pdb
*.dSYM/
*.su
*.idb

# Executables
*.exe
*.out
*.app

# VS Code specific
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
